<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>


    <div class="blogs content">
        <h2>About Us</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, deserunt delectus. Voluptatem adipisci quas ipsa beatae, quisquam fuga hic illum mollitia dignissimos dolores eum, voluptates, cum ducimus minus molestias est.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, deserunt delectus. Voluptatem adipisci quas ipsa beatae, quisquam fuga hic illum mollitia dignissimos dolores eum, voluptates, cum ducimus minus molestias est.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, deserunt delectus. Voluptatem adipisci quas ipsa beatae, quisquam fuga hic illum mollitia dignissimos dolores eum, voluptates, cum ducimus minus molestias est.
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>